# ignore all files
*

# Unignore all with extensions
!*.*
!.*

# Unignore all dirs
!*/

# VS Code dir
.vscode/

# archived dir
archive/

# brainf*** files
*.bf 
*.b

# Executables
*.obj
*.exe
*.out
*.app
